<div class='container mt-2'>
  <h1>Your lists</h1>
  <div class = 'd-flex align-items-start'>
    <% @lists.each do |list| %>
      <div class="card m-2" style="width: 18rem;">
        <img src=<%= list.image_url %> class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= list.name %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <a href="#" class="rounded-circle"> + </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
