<h1><%= @list.name %></h1>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
  <li><%= bookmark.comment %></li>
  <li><%= bookmark.movie.title %></li>
  <%= link_to 'Delete', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
</ul>
<% end %>


<!--  card
To make better visualization
https://getbootstrap.com/docs/5.2/components/card/
 -->
